@use 'variables' as v;
@use 'mixins' as m;

.boton-amarillo {
    @include m.boton(v.$amarillo, inline-block);
}

.boton-amarillo-block {
    @include m.boton(v.$amarillo, block);
}

.boton-verde {
    @include m.boton(v.$verde, inline-block);
}
.boton-rojo {
    @include m.boton(v.$rojoClaro, inline-block);
}
.boton-rojo:hover{
    color: black;
}

.boton-rojo-block {
   @include m.boton(v.$rojo, block);
   width: 100%;
}
.boton-verde-block {
    @include m.boton(v.$verde, block);
}

#btns-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    a {
        font-size: 1.2rem;
        @include m.tablet {
            font-size: 1.4rem; 
        }
        @include m.tablet {
            font-size: 1.6rem; 
        }
    }

    @include m.tablet {
        flex-direction: row;
        justify-content:space-evenly;
    }
}



.boton-login {

    @include m.boton(v.$negro, block);
    font-size: 1.2rem;
    border-radius: 3rem;
    width:70%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0.5rem 1rem 0.5rem;
    
    @include m.tablet {
        width:33%;
    }
 
     /* @include m.boton(v.$negro, block);
    border-radius: 3rem;
    font-size: 1.6rem;
    margin-left: v.$separacion;
    display: flex;
    flex-direction:column;
    align-items: center; */
    
}

.boton-login:hover{

    color: v.$negro;
    background-color: v.$blanco;
   /*  @include m.boton(v.$blanco, block);
    color: v.$negro;
    box-shadow: 1px 1px 3px v.$negro; */
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: v.$separacion;
    margin-bottom: v.$separacion;
    
    .btn{
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
        @include m.tablet {
            width: 200px;
        }
        @include m.desktop {
            width: 250px;
        }
    }
}