@use "../base/variables" as v;
@use "../base/mixins" as m;

html, body{
  min-height: 100%;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: fill; // use "cover" to avoid distortion
  overflow: hidden;
}
.video {
  position: relative;
  overflow: hidden;

  .overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      270deg,
      rgba(71, 71, 71, 0.3) 0%,
      rgba(65, 65, 65, 0.3) 100%
    );
  }

  video {
    width: auto;
    display: block;


    @include m.desktop {
      width: 100%;
    }
  }
}

.menu-login {
  width: 280px;
  padding:30px;

  margin: 10% auto;

  border: 3px solid v.$negro;
  border-radius: 2rem;

  box-shadow: 1px 1px 5px v.$negro;

  input[type="email"],
  input[type="password"] {
    border: 2px solid v.$negro;
    background-color:  rgba(255, 255, 255, 0.5);
    text-align: center;

  }


  h2 {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    //color: v.$blanco;
  }
  p {
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
  }
  label {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  #recuperar {
    margin-top: v.$separacion;
    a {
      color: v.$negro;
      
    }
    :hover {
      text-decoration: underline;
      
    }
  }
 
  @include m.telefono {
    p {
        font-size: 1.4rem;
    }
    label {
        font-size: 1.3rem;
      }
    
  }
  @include m.tablet {
    p {
        font-size: 1.6rem;
    }
    input[type="submit"] {
        font-size: 1.6rem;
    }
    label {
        font-size: 1.4rem;
      }
    width: 480px;
  }
  @include m.desktop {
    width: 780px;
    padding-top: 0;

    input[type="submit"]{
        font-size: 1.8rem;
    }

    
    label {
        font-size: 1.5rem;
    }
    h2{
      margin: 10px auto 10px auto;
    }

  }
}
.dark-mode {
  #recuperar {
    a {
      color: v.$blanco;
    } 
  }
}

.section-tittle{
  margin-top: v.$separacion;
  margin-bottom: v.$separacion;
  margin-left: -2300px;
}

#caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
   
  div{
    width: 90%;
    box-shadow: 1px 1px 5px #666;
    //border: 1px solid v.$negro;
    border-radius: 1rem;
    margin-bottom: v.$separacion;
    padding: calc(v.$separacion /4);
    
    button {
      display: block;
      margin: 0 auto;
      width: 50%;
      text-transform: uppercase;
      margin-top: calc(v.$separacion /2);
      margin-bottom: calc(v.$separacion /2);
     
    }
    .sombra {
        box-shadow: 1px 1px 5px #666;
    }

    p {
      text-align: justify;
      font-size: 1.6rem;
    }
  }
  
  @include m.tablet {
    margin: 0 auto;
    @include m.grid(2, 1fr);
    align-items: flex-start;
    justify-items: center;
    width: 95%;
  }

   @include m.desktop {
    @include m.grid(4, 1fr);

  }
  

}